<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book_statistics</title>
</head>
<body>
    <h1>Book Statistics</h1>
    <ul>
        <li><strong>Total Number of Books:</strong> {{ stats.total_books }}</li>
        <li><strong>Total Price of All Books:</strong> {{ stats.total_price }}</li>
        <li><strong>Average Price of Books:</strong> {{ stats.average_price }}</li>
        <li><strong>Maximum Book Price:</strong> {{ stats.max_price }}</li>
        <li><strong>Minimum Book Price:</strong> {{ stats.min_price }}</li>
    </ul>
</body>
</html>