{% extends "bookmodule/layouts/base.html" %}
{% load static %}
{% block title %} List of books {% endblock title %}
{% block content %}
<h1>List of books </h1>


<!-- task 3-->
{% for obj in books %}
ID: {{obj.id}}, Title: {{obj.title}}
<hr>
{% endfor %}



<h1>Book List</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Edition</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.edition }}</td>
    </tr>
    {% endfor %}
</table>





{% endblock content %}