<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragraph Formating</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Examples of formating tags</h1>
    <p>this text has <b>subtext </b>using b tag </p>
    <p>this text has <strong>subtext</strong> using strong tag </p>
    <p>this text has <i>subtext </i> using i tag </p>
    <p>this text has <em>subtext </em>using emphasize tag </p>
    <p>this text has <small>subtext </small>using small tag </p>
    <p>this text has <mark>subtext </mark>using mark tag </p>
    <p>this text has <del>subtext </del>using del tag </p>
    <p>this text has <ins>subtext </ins>using ins tag </p>
    <p>this text has <sub>subtext </sub>using sub tag </p>
    <p>this text has <sup>subtext </sup>using sup tag </p>


    <h1 class="h1Style">The best Features of the internet</h1>
    <ul>
        <li>You can meet new people from countries around the world.</li>
        <li>You have access to new media as it becomes public:
            <ul>
                <li>New games</li>
                <li>New applications
                    <ol>
                        <li>For business</li>
                        <li>For pleasure</li>
                    </ol>
                </li>
                <li>Around the clock news</li>
                <li>Search engines</li>
                <li>Shopping</li>
                <li>Programming
                    <ol>
                        <li>XML</li>
                        <li>Java</li>
                        <li>HTML5</li>
                        <li>JavaScript</li>
                        <li>New languages</li>
                    </ol>
                </li>
            </ul>
        </li>
        <li>Links</li>
        <li>Keeping in touch with old friends</li>
        <li>It's the technology of the future!</li>
    </ul>
</body>
</html>